<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST" style="margin-bottom:100px;">
    {% csrf_token %}
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Address</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your permanent address" name="a">
</div>

      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter your mobile number" name="ph">
</div>

          <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Account Number</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter account number" name="an">
</div>


          <div class="mb-3">
  <input type="submit" value="Order now" class="form-control">
</div>

</form>
{% endblock %}